@font-face {
    font-family: 'OswaldFont';
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    margin-top: 20px;
}
h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Circularstd book',sans-serif;
    color: #131533;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.fixed-position {
    overflow: hidden;
}
/*Navbar*/
.navbar {
    padding: 1.6rem 8rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: transparent !important;
    z-index: 100;
    transition: background-color 200ms linear;
    -webkit-box-shadow: 0px -60px 40px 27px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px -60px 40px 27px rgba(0,0,0,0.67);
    box-shadow: 0px -60px 40px 27px rgba(0,0,0,0.67);
}
.navbar-scrolled{
    background-color: #ffffff !important;
    transition: background-color 200ms linear;
}
.navbar-custom  {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-custom  > li {
    display: inline-block;
    float:none;
    margin: 0 25px;
    color: #ffffff;
}

.custom-link {
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
}
.custom-link-scrolled {
    color: #333333 !important;
}
.login-scrolled {
    color: #333333 !important;
    border-color: #333333 !important;
}

.navbar-custom-left{
    float:none;
    margin:0 auto;
    display: block;
    text-align: left;
}
.navbar-custom-right{
    float:none;
    margin:0 auto;
    display: block;
    text-align: right;
}
.login-buttons {
    display: -webkit-flex;
    display: flex;
    margin-left: -70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation-link.nav-link--white-text.navigation-link--ghost {
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0,0%,98%,.25);
    border-radius: 8px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding: 8px 24px;
    margin-right: 10px;
    text-decoration: none;
}
.btn.btn-turqoise {
    z-index: 10;
    display: flex;
    min-width: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 8px;
    background-color: #00e3df;
    padding: 8px 24px;
}

.btn.btn-turqoise:hover{
    background-color: #00b7b4;
}

.mobile-logo{ display: none}
.logo{ display: block}
#mobile-login{ display: none }
.navbar-light .navbar-toggler {
	border-color: rgba(0, 0, 0, 0);
}

/*Sections*/
.section-banner{
    overflow: hidden;
    height: 960px;
    background-image: url('../img/background.svg');
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.section {
    margin-right: 0;
    padding: 48px 24px;
    font-size: 14px;
    line-height: 24px;
}
.container-1{
    display: block;
    width: 100%;
    height: 100%;
}
.container-2{
    display: block;
    width: 100%;
    height: 100%;
}
.hero-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-grid{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 110px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1.25fr 1.75fr;
    grid-template-columns: 1.25fr 1.75fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    display: -ms-grid;
}
.hero-grid-left {
    padding-right: 15px;
}
.hero-grid-right {
    position: relative;
}
.hero-title {
    color: #fff;
    font-size: 40px;
    line-height: 48px;
}

.hero-subtitle {
    color: #fff;
    font-size: 18px;
}

.hero-btn{
    position: static;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 8px;
    background-color: #00e3df;
    line-height: 16px;
    text-align: center;
    padding: 16px 24px;
}

.hero-image {
    position: absolute;
    top: -60px;
    right: auto;
    bottom: auto;
    width: 90vw;
    max-width: 952px;
    border-radius: 16px;
    box-shadow: 0 4px 32px 0 rgba(19,21,51,.24);
}
.section-2-tools{
    padding-top: 0;
}

/*section 2*/
.container-2 {
    max-width: 1300px;
    padding-top: 0;
}
.h1-tools {
    text-align: center;
}
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-content {
    position: relative;
    z-index: 99;
}
/* DEMO 2 ============================== */
.hover-tools .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-tools-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
    color: #fff;
}

.hover-tools-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
}

.hover-tools:hover .hover-tools-title {
    transform: translateY(-1.5rem);
}

.hover-tools:hover .hover-tools-description {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-tools:hover .hover-overlay {
    background: linear-gradient(to top, rgba(49, 79, 233, 0.9), rgba(73, 163, 233, 0.1));
}

.h1-feature{
    text-align: center;
    padding-bottom: 3rem;
}
.features-tabs {
    background: linear-gradient(160deg, rgba(145,160,255,1) 0%, #5c72fd 65%);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.tab-content-text{
    max-width: 450px;
}

.h1-tab{
    color: #fff;
}
.p-tab{
    color: #fff;
    font-size: 16px;
}
.tab-btn{
    margin-top: 20px;
    background-color: transparent;
    padding: 10px 23px;
    border: solid 2px #fff;
    color: #fff;
}
.tab-btn:hover {
    color: #7587fe;
    background-color: #fff;
}
.tab-image img{
    position: absolute;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 32px 0 rgba(19,21,51,.24);
}

/*Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 600px) and (max-width: 1000px){
    /*Navbar*/
    .mobile-logo{display: block}
    .logo{display: none}
    .navbar {
        padding: 1.5rem 2rem;
    }
    .navbar-custom  > li {
        display: block;
        text-align: left;
        margin: 8px 0;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #cfd0d6;
    }
    .login-buttons {
        display: contents;
        margin-top: 20px;
    }
    #login-button{
        display: none;
    }
    #mobile-login{ display: block }
    .w-button{margin-top: 20px;}
    .hero-grid {
        grid-template-columns: 1.75fr;
    }
    .container-1 {
        padding: 0;
    }
    .hero-one {
        padding-top: 50px;
        height: auto;
    }
    .hero-grid-left {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .hero-title {
        font-size: 28px;
        line-height: 1.4;
    }
    .hero-image {
        position: static;
        border-radius: 8px;
        width: auto;
        max-width: 100%;
    }
    .tools-col-3 {
        padding-bottom: 15px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .section {
        padding-top: 0;
        padding-bottom: 0;
    }
    .section-3-feature {
        padding-left: 10px;
        padding-right: 10px;
    }
    .container-2 {
        padding-left: 0;
        padding-right: 0;
    }
    .features-tabs{
        padding: 0;
    }

    .tab-image img{
        position: inherit;
        margin-top: 30px;
    }
    .tab-pane {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .tab-containers {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
}
/*!* Medium devices (tablets, 768px and up)*!*/
@media only screen and (max-width: 1000px) and (min-width: 600px){
    /*Navbar*/
    .mobile-logo{display: block}
    .logo{display: none}
    .navbar {
        padding: 1.3rem 2rem;
    }
    .navbar-custom  > li {
        display: block;
        text-align: left;
        margin: 8px 0;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #cfd0d6;
    }
    .login-buttons {
        display: contents;
    }
    #login-button{
        display: none;
    }
    #mobile-login{ display: block }
    .w-button{margin-top: 20px;}
    .hero-grid {
        grid-template-columns: 1.75fr;
    }
    .container-1 {
        padding: 0;
    }
    .hero-one {
        padding-top: 50px;
        height: auto;
    }
    .hero-grid-left {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .hero-title {
        font-size: 28px;
        line-height: 1.4;
    }
    .hero-image {
        position: static;
        border-radius: 8px;
        width: auto;
        max-width: 100%;
    }
}


/*!*Large devices (desktops, 992px and up)*!*/
@media only screen and (max-width: 1024px) AND (min-width: 400px) {
    .hero-image {
        top: 10px;
    }
}
/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media only screen and (min-width: 1200px) {*/

/*}*/
