@font-face {
    font-family: 'OswaldFont';
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-family: sans-serif;
}

body{
    /*background-color: gray;*/
}
.fixed-position {
    overflow: hidden;
}
/*Navbar*/
.navbar {
    padding: 1.6rem 8rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: transparent !important;
    z-index: 100;
    transition: background-color 200ms linear;
    -webkit-box-shadow: 0px -60px 40px 27px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px -60px 40px 27px rgba(0,0,0,0.67);
    box-shadow: 0px -60px 40px 27px rgba(0,0,0,0.67);
}
.navbar-scrolled{
    background-color: #ffffff !important;
    transition: background-color 200ms linear;
}
.navbar-custom  {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-custom  > li {
    display: inline-block;
    float:none;
    margin: 0 25px;
    color: #ffffff;
}

.custom-link {
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
}
.custom-link-scrolled {
    color: #333333 !important;
}
.login-scrolled {
    color: #333333 !important;
    border-color: #333333 !important;
}

.navbar-custom-left{
    float:none;
    margin:0 auto;
    display: block;
    text-align: left;
}
.navbar-custom-right{
    float:none;
    margin:0 auto;
    display: block;
    text-align: right;
}
.login-buttons {
    display: -webkit-flex;
    display: flex;
    margin-left: -70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation-link.nav-link--white-text.navigation-link--ghost {
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0,0%,98%,.25);
    border-radius: 8px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding: 8px 24px;
    margin-right: 10px;
    text-decoration: none;
}
.btn.btn-turqoise {
    z-index: 10;
    display: flex;
    min-width: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 8px;
    background-color: #00e3df;
    padding: 8px 24px;
}

.btn.btn-turqoise:hover{
    background-color: #00b7b4;
}

.mobile-logo{ display: none}
.logo{ display: block}
#mobile-login{ display: none }
.navbar-light .navbar-toggler {
	border-color: rgba(0, 0, 0, 0);
}

/*Sections*/
.section-banner{
    overflow: hidden;
    height: 960px;
    background-image: url('../img/background.svg');
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.section {
    margin-right: 0;
    padding: 48px 24px;
    font-size: 14px;
    line-height: 24px;
}

.container2 {
    display: block;
    width: 100%;
    max-width: 1200px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.container2, .nav-trans-cont {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.hero-cont {
    display: flex;
    height: 80%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.dark-gradiend-card, .hero-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.hero-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 110px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1.25fr 1.75fr;
    grid-template-columns: 1.25fr 1.75fr;
    grid-template-rows: auto;
}
.hero-con__left {
    padding-right: 15px;
}
.h2-turqoise, .hero-main-img-w, .nav-trans-cont, .rhomboid, .testimo-card {
    position: relative;
}
.hero-main-img {
    left: 3%;
    top: -65px;
    right: auto;
    width: 90vw;
    max-width: 952px;
    border-radius: 16px;
    box-shadow: 0 4px 32px 0 rgba(19,21,51,.24);
}
.h1-hero {
    color: #fff;
}

.h1-hero, .h2-40 {
    font-size: 40px;
    line-height: 48px;
    font-family: Circularstd,sans-serif;
}
/*Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 600px) and (max-width: 1000px){
    /*Navbar*/
    .mobile-logo{display: block}
    .logo{display: none}
    .navbar {
        padding: 1.5rem 2rem;
    }
    .navbar-custom  > li {
        display: block;
        text-align: left;
        margin: 8px 0;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #cfd0d6;
    }
    .login-buttons {
        display: contents;
        margin-top: 20px;
    }
    #login-button{
        display: none;
    }
    #mobile-login{ display: block }
    .w-button{margin-top: 20px;}
}
/*!* Medium devices (tablets, 768px and up)*!*/
@media only screen and (max-width: 1000px) and (min-width: 600px){
    /*Navbar*/
    .mobile-logo{display: block}
    .logo{display: none}
    .navbar {
        padding: 1.3rem 2rem;
    }
    .navbar-custom  > li {
        display: block;
        text-align: left;
        margin: 8px 0;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #cfd0d6;
    }
    .login-buttons {
        display: contents;
    }
    #login-button{
        display: none;
    }
    #mobile-login{ display: block }
    .w-button{margin-top: 20px;}

}


/*!*Large devices (desktops, 992px and up)*!*/
/*@media only screen and (min-width: 992px) {*/

/*}*/
/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media only screen and (min-width: 1200px) {*/

/*}*/
