/* Rounded tabs */

@media (min-width: 576px) {

    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}

@media only screen and (max-width: 600px) and (max-width: 1000px){
    .nav-tabs {
        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;
        flex-wrap: inherit;
        padding: 10px;
    }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
    color: #fff;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
    color: white;
}

.lined .nav-link.active {
    background: none;
    color: #fff;
    border-color: #ffffff;
}

